
body{
    background-color:aqua;
}
#jomama{
color:rgb(255, 0, 0);
}
#Jomama{
    color:rgb(26, 255, 0);
    }
    #Obama{
        color:rgb(72, 0, 255);
        }
        #obama{
            color:rgb(191, 255, 0);
            }
            #REEE{
                color:rgb(0, 229, 255);
                background-color:brown;
                }






    

